@import '../../../styles/core/colors.module.scss';

.button {
    outline: none;
    padding: 0.5rem;
    background-color: $primaryDark;
    color: $gray;
    cursor: pointer;
    border: 1px solid $primary;
    font-weight: 600;
    font-size: 0.75rem;

    &:hover {
        background-color: lighten($primaryDark, 5%);
        color: $white;
    }

    &:disabled {
        background-color: $disabled;
        border: none;
        cursor: auto;
    }
}

.selected {
    background-color: $primary;
    color: $white;
}