@import '../../../../colors.scss';

.copyButton {
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: $primary;
    color: $white;
}

.copyButton:hover {
    background-color: $primaryDark;
}