@import '../../../src/styles/core/colors.module.scss';
@import '../../../src/styles/core/global.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primary;
    padding: 0.5rem;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}

.headerTitle {
    color: $white;
    font-weight: 600;
}

.icon {
    width: 2rem;
    stroke: $white;
}

.content {
    padding: 1rem;
}

.title {
    margin-top: 0;
    @include sectionTitle();
}

.generatedMessageSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}