@import '../../colors.scss';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    background-color: $primary;
    padding: 0.5rem;
}

.headerTitle {
    color: $white;
    font-weight: 600;
}

.icon {
    width: 2rem;
    stroke: $white;
}

.content {
    padding: 1rem;
}

.title {
    margin-top: 0;
    font-size: 1rem;
    color: $secondary;
}

.divider {
    height: 0.1rem;
    margin: 1rem 0 0.8rem 0;
    background-color: $secondary;
}