@import '../../../src/styles/core/colors.module.scss';
@import '../../../src/styles/core/global.scss';

.content {
    padding: 1rem;
}

.title {
    margin-top: 0;
    @include sectionTitle();
}

.generatedMessageSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}